.img {
  position: relative;
  height: 720px;
  border-radius: 20px;
  transition: border-color 0.1s, border-width 0.1s,
    transform 0.5s cubic-bezier(0.235, 0, 0.05, 0.95);
  background-image: url("https://c.tenor.com/I6kN-6X7nhAAAAAi/loading-buffering.gif");
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  border: solid;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #000000);
  z-index: 0;
}

.img:hover {
  transform: perspective(1px) scale3d(1.04, 1.04, 1.04) translateZ(0) !important;
}

.clickToDownloadText {
  position: absolute;
  padding: 5px;
  width: 90%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border: solid;
  border-radius: 50px;
  border-width: 2px;
  background-color: greenyellow;
  font-size: 200%;
  opacity: 0;
  transition: opacity 2s;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #000000);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: rgb(0, 255, 55);
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.remove {
  animation: fadeOutAnimation 0.7s;
}

.downloadIcon {
  width: 150px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 70%;
  z-index: 2;
  animation: fadeInAnimation 0.5s;
  transition: transform 0.5s cubic-bezier(0.235, 0, 0.05, 0.95);
  background-color: rgb(0, 255, 55);
  border: solid;
  border-radius: 200px;
  border-width: 2px;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #000000);
}

.downloadIcon:hover {
  transform: perspective(1px) scale3d(1.3, 1.3, 1.3) translateZ(0) !important;
  background-color: white;
}

.imageDiv {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 20px;
}

.parentOfDownloadIcon {
  position: relative;
}

.donwloadBTN {
  font-size: 30px;
  font-weight: 400px;
  color: #030303;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 50px;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border: solid;
  border-width: 2px;
  padding: 2px;
  display: inline-block;
}

.donwloadBTN:hover {
  background-color: #ffffff;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 10px #ffffff);
}

.description {
  font-size: 110%;
  text-decoration: overline;
}

hr {
  width: 90% !important;
  margin-top: 1%;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #080808);
  height: 0.1px;
  background-color: #000000;
  border-radius: 50px;
  text-align: center;
}

.likeIcon {
  width: 2% !important;
  display: inline-block;
  top: 0;
  transition: transform 0.5s cubic-bezier(0.235, 0, 0.05, 0.95);
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
}
.likeIcon:hover {
  transform: perspective(1px) scale3d(1.2, 1.2, 1.2) translateZ(0) !important;
}

.author {
  font-size: 90%;
  border: solid;
  border-radius: 20px;
  border-width: 1px;
  display: inline-block;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
}

.imageMetaData {
  margin: 0 auto 4px;
  display: block;
  width: 20%;
}
@media screen and (max-width: 375px) {
  .likeIcon {
    width: 5% !important;
    display: inline-block;
    top: 0;
  }

  .author {
    font-size: 90%;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    display: inline-block;
  }

  .imageMetaData {
    margin: 0 auto 4px;
    display: block;
    width: 40%;
  }

  .img {
    width: 97%;
    height: 695px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-style: none;
    background-image: url("https://c.tenor.com/I6kN-6X7nhAAAAAi/loading-buffering.gif");
    background-position: center;
    background-size: 15%;
    background-repeat: no-repeat;
    border: solid;
  }

  .description {
    font-family: Snell Roundhand, cursive;
    font-size: 150%;
    font-weight: bold;
  }
  .downloadIcon {
    width: 25%;
  }
}
