.myCard {
  background-color: rgba(236, 236, 236, 0.219);
  align-content: center;
  border-radius: 15px;
  padding-right: 10px;
  margin: 6px;
}
.myCard:hover {
  background-color: hsla(96, 100%, 82%, 0.801);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  transform: perspective(3px) scale3d(1.05, 1.05, 1) translateZ(0) !important;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #2bff00);

  cursor: pointer;
}
.title {
  width: 136.36720275878906px;
  height: 15px;
  font-family: Corbel;
  font-size: 20px;
  padding-bottom: 40px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: wavy;
  filter: drop-shadow(10.071067811865475px 10.0710678118654755px 5px #000000);
}
a:link {
  text-decoration: none;
}

.categorieDivIMG {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
}
