.myCard {
  background-color: rgba(236, 236, 236, 0.219);
  align-content: center;
  border-radius: 15px;
  padding-right: 10px;
  margin: 6px;
  border: solid;
  border-width: 1px;
}
.myCard:hover {
  background-color: hsla(101, 100%, 50%, 0.801);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  transform: perspective(3px) scale3d(1.05, 1.05, 1) translateZ(0) !important;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 20px #ffffff);
  cursor: pointer;
}
.title {
  width: 136.36720275878906px;
  height: 15px;
  font-family: Corbel;
  font-size: 20px;
  padding-bottom: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: wavy;
  filter: drop-shadow(10.071067811865475px 10.0710678118654755px 5px #000000);
}
a:link {
  text-decoration: none;
}

.categorieDivIMG {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
}

@media screen and (max-width: 375px) {
  .myCard {
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 15px;
    padding-right: 10px;
    margin: 6px;
    width: 100px;
    border: solid;
    border-width: 1px;
  }
  .categorieDivIMG {
    width: 90px;
    height: 70px;
    border-radius: 20px;
    filter: drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  }
  .title {
    width: 20.36720275878906%;
    height: 10px;
    font-family: Corbel;
    font-size: 20px;
    padding-bottom: 30px;
    color: #000000;
    text-decoration: wavy;
    filter: drop-shadow(10.071067811865475px 10.0710678118654755px 5px #000000);
    margin-left: 4px;
  }
}
